<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | POS - Menu Stock</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/google/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>
<body class='pace-top'>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height app-without-sidebar app-without-header">
		<!-- BEGIN #content -->
		<div id="content" class="app-content p-0">
			<!-- BEGIN pos -->
			<div class="pos pos-with-header" id="pos">
				<!-- BEGIN pos-header -->
				<div class="pos-header">
					<div class="logo">
						<a href="pos_counter_checkout.html">
							<div class="logo-img"><i class="fa fa-bowl-rice fs-2"></i></div>
							<div class="logo-text">Pine & Dine</div>
						</a>
					</div>
					<div class="time" id="time">00:00</div>
					<div class="nav">
						<div class="nav-item">
							<a href="pos_kitchen_order.html" class="nav-link">
								<i class="far fa-clock nav-icon"></i>
							</a>
						</div>
						<div class="nav-item">
							<a href="pos_table_booking.html" class="nav-link">
								<i class="far fa-calendar-check nav-icon"></i>
							</a>
						</div>
						<div class="nav-item">
							<a href="pos_menu_stock.html" class="nav-link">
								<i class="fa fa-chart-pie nav-icon"></i>
							</a>
						</div>
					</div>
				</div>
				<!-- END pos-header -->
				
				<!-- BEGIN pos-content -->
				<div class="pos-content">
					<div class="pos-content-container">
						<div class="row gx-0">
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-1.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Grill Chicken Chop&reg;</div>
												<div class="desc">chicken, egg, mushroom, salad</div>
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="20" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product1" checked value="1" />
																<label class="form-check-label" for="product1"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-2.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Grill Pork Chop&reg;</div>
												<div class="desc">pork, egg, mushroom, salad</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="30" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product2" checked value="1" />
																<label class="form-check-label" for="product2"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-3.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Capellini Tomato Sauce&reg;</div>
												<div class="desc">spaghetti, tomato, mushroom</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="15" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product3" checked value="1" />
																<label class="form-check-label" for="product3"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-4.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Vegan Salad Bowl&reg;</div>
												<div class="desc">apple, carrot, tomato</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="10" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product4" checked value="1" />
																<label class="form-check-label" for="product4"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-5.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Hawaiian Pizza&reg;</div>
												<div class="desc">pizza, crab meat, pineapple</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="10" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product5" checked value="1" />
																<label class="form-check-label" for="product5"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-6.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Avocado Shake</div>
												<div class="desc">avocado, milk, vanilla</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="0" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product6" value="1" />
																<label class="form-check-label" for="product6"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-7.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Coffee Latte</div>
												<div class="desc">espresso, milk</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="50" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product7" checked value="1" />
																<label class="form-check-label" for="product7"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-8.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Vita C Detox Juice</div>
												<div class="desc">apricot, apple, carrot and ginger juice</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="50" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product8" checked value="1" />
																<label class="form-check-label" for="product8"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-9.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Pancake</div>
												<div class="desc">Non dairy, egg, baking soda, sugar, all purpose flour</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="13" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product9" checked value="1" />
																<label class="form-check-label" for="product9"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-10.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Mushroom soup</div>
												<div class="desc">Evaporated milk, marsala wine, beef cubes, chicken broth, butter</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="30" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product10" checked value="1" />
																<label class="form-check-label" for="product10"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-11.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Baked chicken wing</div>
												<div class="desc">Chicken wings, a1 steak sauce, honey, cayenne pepper</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="32" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product11" checked value="1" />
																<label class="form-check-label" for="product11"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-12.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Veggie Spaghetti</div>
												<div class="desc">Yellow squash, pasta, roasted red peppers, zucchini</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="7" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product12" checked value="1" />
																<label class="form-check-label" for="product12"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-13.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Vanilla Ice Cream</div>
												<div class="desc">Heavy whipping cream, white sugar, vanilla extract</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="50" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product13" checked value="1" />
																<label class="form-check-label" for="product13"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-14.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Perfect Yeast Doughnuts</div>
												<div class="desc">Chocolate hazelnut spread, bread flour, doughnuts, quick rise yeast, butter</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="10" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product14" checked value="1" />
																<label class="form-check-label" for="product14"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-15.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Macarons</div>
												<div class="desc">Almond flour, egg whites, heavy cream, food coloring, powdered sugar</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="20" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product15" checked value="1" />
																<label class="form-check-label" for="product15"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
								<div class="pos-stock-product">
									<div class="pos-stock-product-container">
										<div class="product">
											<div class="product-img">
												<div class="img" style="background-image: url(../assets/img/pos/product-16.jpg)"></div>
											</div>
											<div class="product-info">
												<div class="title">Perfect Vanilla Cupcake</div>
												<div class="desc">Baking powder, all purpose flour, plain kefir, vanilla extract</div>
												
												<div class="product-option">
													<div class="option">
														<div class="option-label">Stock:</div>
														<div class="option-input">
															<input type="text" class="form-control" value="16" />
														</div>
													</div>
													<div class="option">
														<div class="option-label">Availability:</div>
														<div class="option-input">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" name="" id="product16" checked value="1" />
																<label class="form-check-label" for="product16"></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="product-action">
												<a href="#" class="btn btn-default"><i class="fa fa-times fa-fw"></i> Cancel</a>
												<a href="#" class="btn btn-success"><i class="fa fa-check fa-fw"></i> Update</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END pos-content -->
			</div>
			<!-- END pos -->
		</div>
		<!-- END #content -->
		
		<!-- BEGIN theme-panel -->
		<div class="theme-panel">
			<a href="javascript:;" data-toggle="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
			<div class="theme-panel-content" data-scrollbar="true" data-height="100%">
				<h5>App Settings</h5>
				
				<!-- BEGIN theme-list -->
				<div class="theme-list">
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-red" data-theme-class="theme-red" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-pink" data-theme-class="theme-pink" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-orange" data-theme-class="theme-orange" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-yellow" data-theme-class="theme-yellow" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-lime" data-theme-class="theme-lime" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-green" data-theme-class="theme-green" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-teal" data-theme-class="theme-teal" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-cyan" data-theme-class="theme-cyan" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Cyan">&nbsp;</a></div>
					<div class="theme-list-item active"><a href="javascript:;" class="theme-list-link bg-blue" data-theme-class="" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-purple" data-theme-class="theme-purple" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-indigo" data-theme-class="theme-indigo" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo">&nbsp;</a></div>
					<div class="theme-list-item"><a href="javascript:;" class="theme-list-link bg-black" data-theme-class="theme-gray-600" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Black">&nbsp;</a></div>
				</div>
				<!-- END theme-list -->
				
				<div class="theme-panel-divider"></div>
				
				<div class="row mt-10px">
					<div class="col-8 control-label text-body">
						<div>Dark Mode <span class="badge bg-primary ms-1 py-2px position-relative" style="top: -1px;">NEW</span></div>
						<div class="lh-14">
							<small class="text-body opacity-50">
								Adjust the appearance to reduce glare and give your eyes a break.
							</small>
						</div>
					</div>
					<div class="col-4 d-flex">
						<div class="form-check form-switch ms-auto mb-0">
							<input type="checkbox" class="form-check-input" name="app-theme-dark-mode" id="appThemeDarkMode" value="1" />
							<label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
						</div>
					</div>
				</div>
				
				<div class="theme-panel-divider"></div>
				
				<!-- BEGIN theme-switch -->
				<div class="row mt-10px align-items-center">
					<div class="col-8 control-label text-body">Header Fixed</div>
					<div class="col-4 d-flex">
						<div class="form-check form-switch ms-auto mb-0">
							<input type="checkbox" class="form-check-input" name="app-header-fixed" id="appHeaderFixed" value="1" checked />
							<label class="form-check-label" for="appHeaderFixed">&nbsp;</label>
						</div>
					</div>
				</div>
				<div class="row mt-10px align-items-center">
					<div class="col-8 control-label text-body">Header Inverse</div>
					<div class="col-4 d-flex">
						<div class="form-check form-switch ms-auto mb-0">
							<input type="checkbox" class="form-check-input" name="app-header-inverse" id="appHeaderInverse" value="1" />
							<label class="form-check-label" for="appHeaderInverse">&nbsp;</label>
						</div>
					</div>
				</div>
				<div class="row mt-10px align-items-center">
					<div class="col-8 control-label text-body">Sidebar Fixed</div>
					<div class="col-4 d-flex">
						<div class="form-check form-switch ms-auto mb-0">
							<input type="checkbox" class="form-check-input" name="app-sidebar-fixed" id="appSidebarFixed" value="1" checked />
							<label class="form-check-label" for="appSidebarFixed">&nbsp;</label>
						</div>
					</div>
				</div>
				<!-- END theme-switch -->
				
				<div class="theme-panel-divider"></div>
				
				<h5>Admin Design (5)</h5>
				<!-- BEGIN theme-version -->
				<div class="theme-version">
					<div class="theme-version-item">
						<a href="../template_html/index_v2.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/default.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_transparent/index_v2.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/transparent.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_apple/index_v2.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/apple.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_material/index_v2.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/material.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_facebook/index_v2.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/facebook.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_google/index_v2.html" class="theme-version-link active">
							<span style="background-image: url(../assets/img/theme/google.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
				</div>
				<!-- END theme-version -->
				
				<div class="theme-panel-divider"></div>
				
				<h5>Language Version (7)</h5>
				<!-- BEGIN theme-version -->
				<div class="theme-version">
					<div class="theme-version-item">
						<a href="../template_html/index.html" class="theme-version-link active">
							<span style="background-image: url(../assets/img/version/html.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_ajax/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/ajax.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_angularjs/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/angular1x.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_angularjs17/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/angular10x.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="javascript:alert('Laravel 10 Version only available in downloaded version.');" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/laravel.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_vue3/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/vuejs.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../template_react/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/reactjs.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="javascript:alert('.NET Core 7.0 MVC Version only available in downloaded version.');" class="theme-version-link">
							<span style="background-image: url(../assets/img/version/dotnet.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
				</div>
				<!-- END theme-version -->
				
				<div class="theme-panel-divider"></div>
				
				<h5>Frontend Design (5)</h5>
				<!-- BEGIN theme-version -->
				<div class="theme-version">
					<div class="theme-version-item">
						<a href="../../../frontend/template/template_one_page_parallax/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/one-page-parallax.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../../../frontend/template/template_e_commerce/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/e-commerce.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../../../frontend/template/template_blog/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/blog.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../../../frontend/template/template_forum/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/forum.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
					<div class="theme-version-item">
						<a href="../../../frontend/template/template_corporate/index.html" class="theme-version-link">
							<span style="background-image: url(../assets/img/theme/corporate.jpg);" class="theme-version-cover"></span>
						</a>
					</div>
				</div>
				<!-- END theme-version -->
				
				<div class="theme-panel-divider"></div>
				
				<a href="https://seantheme.com/color-admin/documentation/" class="btn btn-dark d-block w-100 rounded-pill mb-10px" target="_blank"><b>Documentation</b></a>
				<a href="javascript:;" class="btn btn-default d-block w-100 rounded-pill" data-toggle="reset-local-storage"><b>Reset Local Storage</b></a>
			</div>
		</div>
		<!-- END theme-panel -->
		<!-- BEGIN scroll-top-btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- END scroll-top-btn -->
	</div>
	<!-- END #app -->
	
	<!-- ================== BEGIN core-js ================== -->
	<script src="../assets/js/vendor.min.js"></script>
	<script src="../assets/js/app.min.js"></script>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="../assets/js/demo/pos-header.demo.js"></script>
	<!-- ================== END page-js ================== -->
</body>
</html>