<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | @@title</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/e-commerce/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/e-commerce/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->@@if (context.css && css.length > 0) {
	<!-- ================== BEGIN page-css ================== -->@@for (var i = 0; i < css.length; i++) {
	<link href="`+css[i]+`" rel="stylesheet" />}
	<!-- ================== END page-css ================== -->
}
</head>
<body>