.sidebar-social-list {
	line-height: $line-height-base;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	
	& > li {
		display: inline-block;
		font-size: $font-size-lg * 1.5;
		
		& a {
			color: var(--#{$prefix}component-color);
			padding: 0 rem(10px);
			
			&:hover,
			&:focus {
				color: var(--#{$prefix}app-theme);
			}
		}
	}
}