<!-- BEGIN #top-menu -->
<div id="top-menu" class="app-top-menu" data-bs-theme="dark">
	<!-- BEGIN menu -->
	<div class="menu">
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="menu-text">Dashboard</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/index.html" data-toggle="ajax" class="menu-link"><div class="menu-text">Dashboard v1</div></a>
				</div>
				<div class="menu-item">
					<a href="#pages/index_v2.html" data-toggle="ajax" class="menu-link"><div class="menu-text">Dashboard v2</div></a>
				</div>
				<div class="menu-item">
					<a href="#pages/index_v3.html" data-toggle="ajax" class="menu-link"><div class="menu-text">Dashboard v3</div></a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-hdd"></i>
				</div>
				<div class="menu-text">Email</div>
				<div class="menu-badge">10</div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/email_inbox.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Inbox</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/email_compose.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Compose</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/email_detail.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Detail</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<a href="#pages/widget.html" data-toggle="ajax" class="menu-link">
				<div class="menu-icon">
					<i class="fab fa-simplybuilt"></i>
				</div>
				<div class="menu-text">Widgets <span class="menu-label">NEW</span></div>
			</a>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-gem"></i>
				</div>
				<div class="menu-text">UI Elements <span class="menu-label">NEW</span></div> 
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/ui_general.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">General <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_typography.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Typography</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_tabs_accordions.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Tabs & Accordions</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_unlimited_tabs.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Unlimited Nav Tabs</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_modal_notification.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Modal & Notification <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_widget_boxes.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Widget Boxes</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_media_object.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Media Object</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_buttons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Buttons <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_icon_fontawesome.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">FontAwesome</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_icon_bootstrap.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Bootstrap Icons <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_icon_duotone.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Duotone Icons <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_icon_simple_line_icons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Simple Line Icons</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_icon_ionicons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Ionicons</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_tree.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Tree View</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_language_bar_icon.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Language Bar & Icon</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_social_buttons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Social Buttons</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_tour.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Intro JS</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/ui_offcanvas_toasts.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Offcanvas & Toasts <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item ">
			<a href="#pages/bootstrap_5.html" data-toggle="ajax" class="menu-link">
				<div class="menu-icon-img">
					<img src="../assets/img/logo/logo-bs5.png" alt="" />
				</div>
				<div class="menu-text">Bootstrap 5 <span class="menu-label">NEW</span></div> 
			</a>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-list-ol"></i>
				</div>
				<div class="menu-text">Form Stuff <span class="menu-label">NEW</span></div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/form_elements.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Form Elements <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_plugins.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Form Plugins <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_slider_switcher.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Form Slider + Switcher</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_validation.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Form Validation</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_wizards.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Wizards <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_wysiwyg.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">WYSIWYG</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_editable.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">X-Editable</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_multiple_upload.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Multiple File Upload</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_summernote.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Summernote</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/form_dropzone.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Dropzone</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-table"></i>
				</div>
				<div class="menu-text">Tables</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/table_basic.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Basic Tables</div>
					</a>
				</div>
				<div class="menu-item has-sub">
					<a href="javascript:;" class="menu-link">
						<div class="menu-text">Managed Tables</div>
						<div class="menu-caret"></div>
					</a>
					<div class="menu-submenu">
						<div class="menu-item">
							<a href="#pages/table_manage.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Default</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_buttons.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Buttons</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_colreorder.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">ColReorder</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_fixed_columns.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Fixed Column</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_fixed_header.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Fixed Header</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_keytable.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">KeyTable</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_responsive.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Responsive</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_rowreorder.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">RowReorder</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_scroller.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Scroller</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_select.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Select</div>
							</a>
						</div>
						<div class="menu-item">
							<a href="#pages/table_manage_combine.html" data-toggle="ajax" class="menu-link">
								<div class="menu-text">Extension Combination</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-cash-register"></i>
				</div>
				<div class="menu-text">POS System <span class="menu-label">NEW</span></div> 
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/pos_customer_order.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Customer Order</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/pos_kitchen_order.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Kitchen Order</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/pos_counter_checkout.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Counter Checkout</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/pos_table_booking.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Table Booking</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/pos_menu_stock.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Menu Stock</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-star"></i>
				</div>
				<div class="menu-text">Front End <span class="menu-label">NEW</span></div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/../../../frontend/template/template_one_page_parallax/index.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">One Page Parallax</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../../../frontend/template/template_blog/index.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Blog</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../../../frontend/template/template_forum/index.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Forum</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../../../frontend/template/template_e_commerce/index.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">E-Commerce</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../../../frontend/template/template_corporate/index.html" target="_blank" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Corporate <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="menu-text">Email Template</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/email_system.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">System Template</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/email_newsletter.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Newsletter Template</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-chart-pie"></i>
				</div>
				<div class="menu-text">Chart</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/chart-flot.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Flot Chart</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/chart-js.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Chart JS</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/chart-d3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">d3 Chart</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/chart-apex.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Apex Chart</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item">
			<a href="#pages/calendar.html" data-toggle="ajax" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-calendar"></i> 
				</div>
				<div class="menu-text">Calendar</div>
			</a>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-map"></i>
				</div>
				<div class="menu-text">Map</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/map_vector.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Vector Map</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/map_google.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Google Map</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-image"></i>
				</div>
				<div class="menu-text">Gallery</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/gallery.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Gallery v1</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/gallery_v2.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Gallery v2</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub active">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-cogs"></i>
				</div>
				<div class="menu-text">Page Options <span class="menu-label">NEW</span></div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/page_blank.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Blank Page</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_footer.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Footer</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_fixed_footer.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Fixed Footer <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_without_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page without Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_right_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Right Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_minified_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Minified Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_two_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Two Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_line_icons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Line Icons</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_ionicons.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Ionicons</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_full_height.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Full Height Content</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_wide_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Wide Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_light_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Light Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_mega_menu.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Mega Menu</div>
					</a>
				</div>
				<div class="menu-item active">
					<a href="#pages/page_with_top_menu.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Top Menu</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_boxed_layout.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Boxed Layout</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_mixed_menu.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Mixed Menu</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_boxed_layout_with_mixed_menu.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Boxed Layout with Mixed Menu</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_transparent_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Transparent Sidebar</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_search_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Search Sidebar <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/page_with_hover_sidebar.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Page with Hover Sidebar <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-gift"></i>
				</div>
				<div class="menu-text">Extra <span class="menu-label">NEW</span></div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/extra_timeline.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Timeline</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_coming_soon.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Coming Soon Page</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_search_results.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Search Results</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_invoice.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Invoice</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_404_error.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">404 Error Page</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_profile.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Profile Page</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_scrum_board.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Scrum Board <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_cookie_acceptance_banner.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Cookie Acceptance Banner <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_orders.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Orders <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_order_details.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Order Details <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_products.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Products <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_product_details.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Product Details <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_file_manager.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">File Manager <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_pricing_page.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Pricing Page <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_messenger_page.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Messenger Page <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_data_management.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Data Management <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/extra_settings_page.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Settings Page <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-key"></i>
				</div>
				<div class="menu-text">Login & Register</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/login.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Login</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/login_v2.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Login v2</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/login_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Login v3</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/register_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Register v3</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-cubes"></i>
				</div>
				<div class="menu-text">Version <span class="menu-label">NEW</span></div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/../template_html/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">HTML</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_ajax/" data-toggle="ajax" class="menu-link">
						<div class="menu-text">AJAX</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_angularjs/" data-toggle="ajax" class="menu-link">
						<div class="menu-text">ANGULAR JS</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_angularjs17/" data-toggle="ajax" class="menu-link">
						<div class="menu-text">ANGULAR JS 17</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/javascript:alert('Laravel 10 Version only available in downloaded version.');" data-toggle="ajax" class="menu-link">
						<div class="menu-text">LARAVEL 10</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_vuejs/" data-toggle="ajax" class="menu-link">
						<div class="menu-text">VUE 3 + Vite JS</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_react/" data-toggle="ajax" class="menu-link">
						<div class="menu-text">REACT 18</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/javascript:alert('.NET Core 7.0 MVC Version only available in downloaded version.');" data-toggle="ajax" class="menu-link">
						<div class="menu-text">ASP.NET <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_material/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">MATERIAL DESIGN</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_apple/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">APPLE DESIGN</div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_transparent/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">TRANSPARENT DESIGN <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_facebook/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">FACEBOOK DESIGN <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
				<div class="menu-item">
					<a href="#pages/../template_google/index_v3.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">GOOGLE DESIGN <i class="fa fa-paper-plane text-theme"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-medkit"></i>
				</div>
				<div class="menu-text">Helper</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item">
					<a href="#pages/helper_css.html" data-toggle="ajax" class="menu-link">
						<div class="menu-text">Predefined CSS Classes</div>
					</a>
				</div>
			</div>
		</div>
		<div class="menu-item has-sub">
			<a href="javascript:;" class="menu-link">
				<div class="menu-icon">
					<i class="fa fa-align-left"></i>
				</div>
				<div class="menu-text">Menu Level</div>
				<div class="menu-caret"></div>
			</a>
			<div class="menu-submenu">
				<div class="menu-item has-sub">
					<a href="javascript:;" class="menu-link">
						<div class="menu-text">Menu 1.1</div>
						<div class="menu-caret"></div>
					</a>
					<div class="menu-submenu">
						<div class="menu-item has-sub">
							<a href="javascript:;" class="menu-link">
								<div class="menu-text">Menu 2.1</div>
								<div class="menu-caret"></div>
							</a>
							<div class="menu-submenu">
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.1</div></a></div>
								<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.2</div></a></div>
							</div>
						</div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.2</div></a></div>
						<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.3</div></a></div>
					</div>
				</div>
				<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.2</div></a></div>
				<div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.3</div></a></div>
			</div>
		</div>
		<div class="menu-item menu-control menu-control-start">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-menu-prev"><i class="fa fa-angle-left"></i></a>
		</div>
		<div class="menu-item menu-control menu-control-end">
			<a href="javascript:;" class="menu-link" data-toggle="app-top-menu-next"><i class="fa fa-angle-right"></i></a>
		</div>
	</div>
	<!-- END menu -->
</div>
<!-- END #top-menu -->

<script>
	var url = (window.location.href).split('#');
			url = '#' + url[1];
			
	var targetElm = app.topMenu.id +' ['+ app.ajax.attr +'][href="#pages/'+ url +'"]';
	
	if ($(targetElm).length !== 0) {
		$(app.topMenu.id + ' .' + app.sidebar.menu.itemClass).removeClass(app.sidebar.menu.activeClass);
		$(targetElm).closest('.' + app.sidebar.menu.itemClass).addClass(app.sidebar.menu.activeClass);
		$(targetElm).parents('.' + app.sidebar.menu.itemClass).addClass(app.sidebar.menu.activeClass);
	}
	
	handleUnlimitedTopMenuRender();
</script>