
		<!-- BEGIN header -->
		<div class="header@@if(context.headerFloat) { header-float}@@if(context.headerDefault) { header-default}">
			<div class="container d-flex">
				<div class="header-logo">
					<a href="index.html" class="logo-link">
						<span class="logo"></span><b>ColorAdmin</b> <small>CORPORATE</small>
					</a>
				</div>
				<div class="header-nav">
					<div class="container">
						<div class="header-nav-item">
							<a href="about.html" class="header-nav-link">Who We Are</a>
						</div>
						<div class="header-nav-item">
							<a href="products.html" class="header-nav-link">Our Products</a>
						</div>
						<div class="header-nav-item">
							<a href="newsroom.html" class="header-nav-link">Newsroom</a>
						</div>
						<div class="header-nav-item">
							<a href="careers.html" class="header-nav-link">Our Careers</a>
						</div>
						<div class="header-nav-item">
							<a href="contact_us.html" class="header-nav-link">Contact Us</a>
						</div>
					</div>
				</div>
				<div class="header-btn">
					<a href="#" class="btn btn-primary fw-bold rounded-pill">Get started <i class="fa fa-arrow-right ms-1 opacity-5"></i></a>
				</div>
				<button class="header-mobile-nav-toggler" type="button" data-toggle="header-mobile-nav">
					<span class="header-mobile-nav-toggler-icon"></span>
				</button>
			</div>
		</div>
		<!-- END header -->