.section-title {
	font-size: rem(22px);
	font-weight: $font-weight-bold;
	margin: rem(-5px) 0 rem(25px);
	color: var(--#{$prefix}component-color);
	display: flex;
	align-items: center;
	
	@include media-breakpoint-down(md) {
		font-size: rem(16px);
		margin-bottom: rem(15px);
		line-height: $line-height-base;
	}
	
	& small {
		font-weight: $font-weight-bold;
		font-size: rem(12px);
		color: rgba(var(--#{$prefix}component-color-rgb), .5);
		letter-spacing: 0;
		
		@if $enable-rtl {
			margin-right: rem(5px);
		} @else {
			margin-left: rem(5px);
		}
		
		@include media-breakpoint-down(md) {
			display: block;
			font-size: rem(12px);
			
			@if $enable-rtl {
				margin-right: 0;
			} @else {
				margin-left: 0;
			}
		}
	}
	& a.btn {
		font-size: rem(12px);
		font-weight: bold;
		color: var(--#{$prefix}component-color);
		border: 1px solid var(--#{$prefix}component-border-color);
		padding: rem(8px) rem(15px);
		line-height: rem(16px);
		margin: rem(-7px) 0;
		background: var(--#{$prefix}component-bg);
		border-radius: $border-radius;
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media-breakpoint-down(md) {
			margin: rem(5px) 0;
			padding: rem(5px) rem(10px);
		}
		
		&:hover,
		&:focus {
			text-decoration: none;
			background: var(--#{$prefix}component-color);
			color: var(--#{$prefix}component-bg);
		}
	}
}