<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Newsroom</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/corporate/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/corporate/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container">
		
		<!-- BEGIN header -->
		<div class="header header-default">
			<div class="container d-flex">
				<div class="header-logo">
					<a href="index.html" class="logo-link">
						<span class="logo"></span><b>ColorAdmin</b> <small>CORPORATE</small>
					</a>
				</div>
				<div class="header-nav">
					<div class="container">
						<div class="header-nav-item">
							<a href="about.html" class="header-nav-link">Who We Are</a>
						</div>
						<div class="header-nav-item">
							<a href="products.html" class="header-nav-link">Our Products</a>
						</div>
						<div class="header-nav-item">
							<a href="newsroom.html" class="header-nav-link">Newsroom</a>
						</div>
						<div class="header-nav-item">
							<a href="careers.html" class="header-nav-link">Our Careers</a>
						</div>
						<div class="header-nav-item">
							<a href="contact_us.html" class="header-nav-link">Contact Us</a>
						</div>
					</div>
				</div>
				<div class="header-btn">
					<a href="#" class="btn btn-primary fw-bold rounded-pill">Get started <i class="fa fa-arrow-right ms-1 opacity-5"></i></a>
				</div>
				<button class="header-mobile-nav-toggler" type="button" data-toggle="header-mobile-nav">
					<span class="header-mobile-nav-toggler-icon"></span>
				</button>
			</div>
		</div>
		<!-- END header -->
		
		<!-- BEGIN section -->
		<div class="section py-5">
			<!-- BEGIN section-bg -->
			<div class="section-bg" style="background-image: url(../assets/img/corporate/img-19.jpg);"></div>
			<div class="section-bg bg-gray-800 opacity-50"></div>
			<!-- END section-bg -->
			
			<!-- BEGIN container -->
			<div class="container position-relative text-white text-center">
				<div class="display-6 fw-bolder">Newsroom</div>
			</div>
			<!-- END container -->
		</div>
		<!-- END section -->
		
		<!-- BEGIN section -->
		<div class="section pt-5">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row gx-5">
					<!-- BEGIN col-9 -->
					<div class="col-lg-9">
						<!--  BEGIN back button -->
						<div class="d-flex align-items-center mb-4">
							<a href="newsroom.html" class="text-decoration-none text-gray-600 d-inline-flex align-items-center fw-bold">
								<span class="bg-gray-300 me-10px rounded-pill w-30px h-30px d-flex align-items-center justify-content-center">
									<i class="fa fa-fw fa-arrow-left"></i>
								</span>
								back to newsroom
							</a>
						</div>
						<!--  END back-button -->
						
						<!-- BEGIN news-header -->
						<h2 class="mb-3 line-h-13">Advancing our efforts to make Twitter a safer place for advertisers</h2>
						<p class="fw-bold text-gray-600 mb-4 fs-13px">
							<span>By <a href="#">AJ Brown</a> and <a href="#">Lauren Ehrlich</a></span>
							<span class="ms-5"><i class="far fa-clock"></i> Tuesday, 9 March 2023</span>
						</p>
						<!-- END news-header -->
						
						<!-- BEGIN social-btn -->
						<div class="mb-4">
							<a href="#" class="btn btn-secondary btn-sm fw-bold w-100px me-1 mb-2 mb-md-0"><i class="fab fa-facebook-f fa-fw me-1 ms-n1"></i> Share</a>
							<a href="#" class="btn btn-secondary btn-sm fw-bold w-100px me-1 mb-2 mb-md-0"><i class="fab fa-twitter fa-fw me-1 ms-n1"></i> Tweet</a>
							<a href="#" class="btn btn-secondary btn-sm fw-bold w-100px me-1 mb-2 mb-md-0"><i class="fab fa-pinterest fa-fw me-1 ms-n1 "></i> Pin</a>
							<a href="#" class="btn btn-secondary btn-sm fw-bold w-100px me-1 mb-2 mb-md-0"><i class="fa fa-envelope fa-fw me-1 ms-n1"></i> Email</a>
							<a href="#" class="btn btn-secondary btn-sm fw-bold w-100px me-1 mb-2 mb-md-0"><i class="fa fa-share fa-fw me-1 ms-n1"></i> Share</a>
						</div>
						<!-- END social-btn -->
						
						<!-- BEGIN news-content -->
						<div>
							<div><img class="d-block mw-100" src="../assets/img/corporate/img-19.jpg" alt="" /></div>
							<div class="text-center mt-2 mb-3"><i>Image from: unsplash.com </i></div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget tellus dignissim, accumsan risus vel, laoreet dolor. Integer tempus orci sed egestas convallis. Nunc nec dolor placerat, dictum urna a, gravida mauris. Vivamus sagittis tortor a eros tincidunt, quis placerat lorem laoreet. Suspendisse dignissim vestibulum justo, sit amet eleifend lacus eleifend vulputate. Praesent vitae dignissim justo, laoreet placerat dui. Aliquam ipsum ipsum, pellentesque et imperdiet non, condimentum sit amet diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent interdum est libero, sit amet tincidunt elit tempus sit amet. Proin a lectus sit amet libero sodales tincidunt eu ut sem.
							</p>
							<p>
								Cras vestibulum, nisl id facilisis sollicitudin, odio urna pretium mi, sit amet tempor ex erat sit amet odio. Ut efficitur scelerisque nibh, sed varius enim iaculis sit amet. Nam ut ultrices dolor, vel iaculis ante. Phasellus fermentum sapien vehicula velit dapibus egestas. Donec a efficitur ipsum. Sed fermentum tempus imperdiet. Morbi efficitur tortor eget ultricies dictum.
							</p>
							<div class="row gx-2">
								<div class="col-8">
									<img class="d-block mw-100" src="../assets/img/corporate/img-20.jpg" alt="" />
								</div>
								<div class="col-4">
									<img class="d-block mw-100 mb-2" src="../assets/img/corporate/img-21.jpg" alt="" />
									<img class="d-block mw-100" src="../assets/img/corporate/img-22.jpg" alt="" />
								</div>
							</div>
							<div class="text-center mt-2 mb-3"><i>Image from: unsplash.com </i></div>
							<p>
								Vivamus facilisis metus quis posuere sodales. In a erat a erat pellentesque rhoncus. Ut gravida scelerisque ante. Maecenas vitae risus eget nisi pharetra sagittis. Suspendisse a enim neque. Nullam vehicula est neque, eget mollis risus mattis non. Nam eu mauris eleifend, blandit velit vitae, aliquam nibh. Donec augue felis, commodo sed sapien sit amet, consequat auctor ex. Nulla id magna a enim porta luctus. Nulla facilisi. Morbi scelerisque neque id risus bibendum tempus. Aenean tortor neque, faucibus a nibh ac, feugiat tempor elit. Sed at rutrum est, sed ultrices ex. Nulla facilisi.
							</p>
							<p>
								Sed ac libero congue, ultricies felis quis, fermentum libero. Duis molestie, dolor eu tincidunt hendrerit, neque ante efficitur nibh, ac vehicula orci neque at tellus. Aliquam eget dui sem. Etiam nunc eros, venenatis ut tincidunt nec, interdum eu urna. Vivamus turpis elit, blandit consectetur aliquam nec, vestibulum at neque. Vestibulum ut semper arcu. Suspendisse convallis cursus mi, a fermentum dolor tincidunt cursus.
							</p>
							<figure class="mb-4">
								<blockquote class="blockquote mb-4">
									<p class="h1 fw-bolder">Nam elit ex, vestibulum at volutpat id, pellentesque et mauris. </p>
								</blockquote>
								<figcaption class="blockquote-footer fs-20px fw-bold">
									Someone famous in <cite title="Source Title">Source Title</cite>
								</figcaption>
							</figure>
							<p class="mb-0">
								Etiam ullamcorper viverra metus non hendrerit. Etiam vestibulum fermentum magna ut venenatis. Quisque nibh metus, posuere ac nunc nec, lacinia rhoncus turpis. Nulla dapibus justo magna, ac pulvinar erat sagittis eu. Duis ut varius est, eu feugiat dolor. Suspendisse turpis eros, ullamcorper sit amet blandit elementum, eleifend ornare neque. Donec quis ornare eros. Etiam convallis ligula vel nibh suscipit, ut convallis enim tincidunt. Mauris iaculis pellentesque dapibus. Mauris sit amet posuere nisi, vitae bibendum sapien. Morbi vitae ipsum nulla.
							</p>
						</div>
						<!-- END news-content -->
						
						<!-- BEGIN more-news -->
						<div class="section pb-0 px-0">
							<div class="section-subtitle">More News</div>
							
							<!-- BEGIN row -->
							<div class="row">
								<!-- BEGIN col-4 -->
								<div class="col-lg-4">
									<!-- BEGIN news -->
									<div class="news">
										<div class="news-media">
											<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-9.jpg);"></div>
										</div>
										<div class="news-content">
											<div class="news-title">Flexible deployment options for every scenario.</div>
											<div class="news-date">September 14, 2023</div>
										</div>
										<a href="#" class="stretched-link"></a>
									</div>
									<!-- END news -->
								</div>
								<!-- END col-4 -->
								<!-- BEGIN col-4 -->
								<div class="col-lg-4">
									<!-- BEGIN news -->
									<div class="news">
										<div class="news-media">
											<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-10.jpg);"></div>
										</div>
										<div class="news-content">
											<div class="news-title">Supervision for corporate‑owned devices.</div>
											<div class="news-date">September 15, 2023</div>
										</div>
									</div>
									<!-- END news -->
								</div>
								<!-- END col-4 -->
								<!-- BEGIN col-4 -->
								<div class="col-lg-4">
									<!-- BEGIN news -->
									<div class="news">
										<div class="news-media">
											<div class="news-media-img news-media-img-lg" style="background-image: url(../assets/img/corporate/img-11.jpg);"></div>
										</div>
										<div class="news-content">
											<div class="news-title">Networking, Security and Server Collaboration</div>
											<div class="news-date">September 16, 2023</div>
										</div>
									</div>
									<!-- END news -->
								</div>
								<!-- END col-4 -->
							</div>
							<!-- END row -->
						</div>
						<!-- END more-news -->
					</div>
					<!-- END col-9 -->
					<!-- BEGIN col-3 -->
					<div class="col-lg-3 d-none d-lg-block">
						<div class="fw-bolder fs-16px mb-3">Top Stories</div>
						<!-- BEGIN news -->
						<div class="news">
							<div class="news-media mb-2">
								<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-11.jpg);"></div>
							</div>
							<div class="news-content">
								<div class="fw-bolder fs-16px line-h-13 mb-1">Irish retailers can build an online presence with Pointy</div>
								<div class="fw-bold fs-13px text-gray-600 mb-3">Praesent et orci aliquet, venenatis metus quis, suscipit velit.</div>
								<div class="news-date text-gray-500 fs-12px"><i class="far fa-clock"></i> Published 1 hour ago</div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
						<!-- BEGIN news -->
						<div class="news">
							<div class="news-media mb-2">
								<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-23.jpg);"></div>
							</div>
							<div class="news-content">
								<div class="fw-bolder fs-16px line-h-13 mb-2">Introducing the New Facebook Pages Experience</div>
								<div class="news-date text-gray-500 fs-12px"><i class="far fa-clock"></i> Published 2 hour ago</div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
						<!-- BEGIN news -->
						<div class="news">
							<div class="news-media mb-3">
								<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-24.jpg);"></div>
							</div>
							<div class="news-content">
								<div class="fw-bolder fs-16px line-h-13 mb-2">Career certificates and more ways we're helping job seekers</div>
								<div class="news-date text-gray-500 fs-12px"><i class="far fa-clock"></i> Published 2 hour ago</div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
						<!-- BEGIN news -->
						<div class="news">
							<div class="news-media mb-2">
								<div class="news-media-img" style="background-image: url(../assets/img/corporate/img-25.jpg);"></div>
							</div>
							<div class="news-content">
								<div class="fw-bolder fs-16px line-h-13 mb-2">A Local Guide uses Google Maps to help those without homes</div>
								<div class="news-date text-gray-500 fs-12px"><i class="far fa-clock"></i> Published 3 hour ago</div>
							</div>
							<a href="#" class="stretched-link"></a>
						</div>
						<!-- END news -->
						
						<div class="fw-bolder fs-16px mb-2" data-bs-toggle="collapse" data-bs-target="#categories-collapse">Categories</div>
						<div class="collapse show" id="categories-collapse">
							<ul class="list-unstyled fw-bold pb-3">
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Bootstrap</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">.NET Core 3.0</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">React JS</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Angular JS</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Node JS</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Vue JS</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">jQuery</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">HTML & CSS</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Photoshop</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Creator Studio</a></li>
							</ul>
						</div>
						
						<div class="fw-bolder fs-16px mb-2" data-bs-toggle="collapse" data-bs-target="#topics-collapse">Topics</div>
						<div class="collapse show" id="topics-collapse">
							<ul class="list-unstyled fw-bold pb-3">
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Color Admin</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Frontend Framework</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Technology</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Data & Privacy</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">Bug Fixes</a></li>
								<li class="mb-2"><a href="#" class="text-decoration-none text-gray-600">New Release</a></li>
							</ul>
						</div>
					</div>
					<!-- END col-3 -->
				</div>
				<!-- END row -->
			</div>
			<!-- END container -->
		</div>
		<!-- END section -->
		
		<!-- BEGIN theme-panel -->
	<div class="theme-panel">
		<a href="javascript:;" data-toggle="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
		<div class="theme-panel-content">
			<div class="theme-list clearfix">
				<div class="theme-list-item"><a href="javascript:;" class="bg-red" data-theme-class="theme-red" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-pink" data-theme-class="theme-pink" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-orange" data-theme-class="theme-orange" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-yellow" data-theme-class="theme-yellow" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-lime" data-theme-class="theme-lime" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-green" data-theme-class="theme-green" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-teal" data-theme-class="theme-teal" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-cyan" data-theme-class="theme-cyan" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Aqua" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item active"><a href="javascript:;" class="bg-blue" data-theme-class="" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-purple" data-theme-class="theme-purple" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-indigo" data-theme-class="theme-indigo" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-gray-500" data-theme-class="theme-gray-500" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Gray" data-original-title="" title="">&nbsp;</a></div>
			</div>
			<hr class="mb-0" />
			<div class="row mt-10px pt-3px">
				<div class="col-9 control-label text-dark fw-bold">
					<div>Dark Mode <span class="badge bg-primary ms-1 position-relative py-4px px-6px" style="top: -1px">NEW</span></div>
					<div class="lh-14 fs-13px">
						<small class="text-dark opacity-50">
							Adjust the appearance to reduce glare and give your eyes a break.
						</small>
					</div>
				</div>
				<div class="col-3 d-flex">
					<div class="form-check form-switch ms-auto mb-0 mt-2px">
						<input type="checkbox" class="form-check-input" name="app-theme-dark-mode" id="appThemeDarkMode" value="1" />
						<label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END theme-panel -->
		
		<!-- BEGIN footer -->
		<div class="footer">
			<div class="container">
				<div class="row gx-5">
					<div class="col-lg-3 mb-4 mb-lg-0">
						<div class="footer-logo">
							<span class="footer-logo-text">ColorAdmin <small>CORPORATE</small></span>
						</div>
						<p class="footer-desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci felis. Phasellus id urna nunc. Nulla sed nibh at libero tincidunt scelerisque sed porttitor lectus.
						</p>
						<h4 class="footer-title">Follow Us</h4>
						<div class="footer-media-list">
							<a href="#" class="me-1"><i class="fab fa-lg fa-facebook fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-instagram fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-twitter fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-youtube fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-linkedin fa-fw"></i></a>
						</div>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Company</h4>
						<ul class="footer-link-list">
							<li><a href="#">Newsroom</a></li>
							<li><a href="#">Company Info</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">For Investors</a></li>
							<li><a href="#">Brand Resources</a></li>
						</ul>
						<hr class="my-4 text-gray-600" />
						<h4 class="footer-title">Policies</h4>
						<ul class="footer-link-list">
							<li><a href="#">Community Standards</a></li>
							<li><a href="#">Data Policy</a></li>
							<li><a href="#">Cookie Policy</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Our Store</h4>
						<ul class="footer-link-list">
							<li><a href="#">Shop Online</a></li>
							<li><a href="#">Store App</a></li>
							<li><a href="#">Recycling Programme</a></li>
							<li><a href="#">Order Status</a></li>
							<li><a href="#">Shopping Help</a></li>
						</ul>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Help Center</h4>
						<ul class="footer-link-list">
							<li><a href="#">Contact Form</a></li>
							<li><a href="#">Live Chat Support</a></li>
							<li><a href="#">Portal Help Center</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
							<div class="footer-copyright-text">&copy; 2016 - 2023 Color Admin All Rights Reserved</div>
						</div>
						<div class="col-lg-6 text-center text-lg-end">
							<span class="dropdown me-4">
								<a href="#" class="footer-copyright-link dropdown-toggle" data-bs-toggle="dropdown">United States (English)</a>
								<ul class="dropdown-menu">
									<li><a href="#" class="dropdown-item">United States (English)</a></li>
									<li><a href="#" class="dropdown-item">China (简体中文)</a></li>
									<li><a href="#" class="dropdown-item">Brazil (Português)</a></li>
									<li><a href="#" class="dropdown-item">Germany (Deutsch)</a></li>
									<li><a href="#" class="dropdown-item">France (Français)</a></li>
									<li><a href="#" class="dropdown-item">Japan (日本語)</a></li>
									<li><a href="#" class="dropdown-item">Korea (한국어)</a></li>
									<li><a href="#" class="dropdown-item">Latin America (Español)</a></li>
									<li><a href="#" class="dropdown-item">Spain (Español)</a></li>
								</ul>
							</span>
							<a href="#" class="footer-copyright-link">Sitemap</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END footer -->
	</div>
	<!-- end page container -->
	
<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/corporate/vendor.min.js"></script>
	<script src="../assets/js/corporate/app.min.js"></script>
	
</body>
</html>