<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Our Products</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/corporate/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/corporate/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container">
		
		<!-- BEGIN header -->
		<div class="header header-default">
			<div class="container d-flex">
				<div class="header-logo">
					<a href="index.html" class="logo-link">
						<span class="logo"></span><b>ColorAdmin</b> <small>CORPORATE</small>
					</a>
				</div>
				<div class="header-nav">
					<div class="container">
						<div class="header-nav-item">
							<a href="about.html" class="header-nav-link">Who We Are</a>
						</div>
						<div class="header-nav-item">
							<a href="products.html" class="header-nav-link">Our Products</a>
						</div>
						<div class="header-nav-item">
							<a href="newsroom.html" class="header-nav-link">Newsroom</a>
						</div>
						<div class="header-nav-item">
							<a href="careers.html" class="header-nav-link">Our Careers</a>
						</div>
						<div class="header-nav-item">
							<a href="contact_us.html" class="header-nav-link">Contact Us</a>
						</div>
					</div>
				</div>
				<div class="header-btn">
					<a href="#" class="btn btn-primary fw-bold rounded-pill">Get started <i class="fa fa-arrow-right ms-1 opacity-5"></i></a>
				</div>
				<button class="header-mobile-nav-toggler" type="button" data-toggle="header-mobile-nav">
					<span class="header-mobile-nav-toggler-icon"></span>
				</button>
			</div>
		</div>
		<!-- END header -->
		
		<!-- BEGIN section -->
		<div class="section">
			<!-- BEGIN container -->
			<div class="container text-center">
				<div class="display-5 fw-bolder mb-2">Our products</div>
				<div class="fs-20px fw-bold text-gray-600">Powerful solutions to help you build, secure, and deliver <span class="d-lg-inline d-none"><br /></span>enterprise-grade apps / web application in less time.</div>
			</div>
			<!-- END container -->
		</div>
		<!-- END section -->
		
		<!-- BEGIN section -->
		<div class="section pt-0">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row">
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-indigo text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fab fa-bootstrap fs-28px"></i>
									<span class="badge position-absolute mt-n5 me-n5 bg-indigo-700 rounded-1">5.0</span>
								</div>
								<h4>Bootstrap 5 Template</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-primary text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-code-branch fs-28px"></i>
								</div>
								<h4>Cross Platform Ready</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Sed vehicula eu justo nec rutrum. Vivamus dignissim leo ac quam iaculis rutrum.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-gray-500 text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-headset fs-28px"></i>
								</div>
								<h4>Continuous Support</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Cras lacus diam, rhoncus et iaculis nec, aliquam id mauris.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-teal text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-pen fs-28px"></i>
								</div>
								<h4>Well documented</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Nulla faucibus, lorem eu placerat mollis, odio velit efficitur lorem
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-orange text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-lightbulb fs-28px"></i>
								</div>
								<h4>Easy to Understand</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Sed porttitor odio eu mi sollicitudin scelerisque id sed lacus.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-red text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-bug fs-28px"></i>
								</div>
								<h4>Bugs Free</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Mauris vehicula ultrices arcu, vitae tristique massa egestas vitae.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-info text-white d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-layer-group fs-28px"></i>
								</div>
								<h4>Unlimited Widget</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Suspendisse feugiat lectus ac nulla semper, in tincidunt odio tempor.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
						<!-- END card -->
					</div>
					<!-- END col-4 -->
					<!-- BEGIN col-4 -->
					<div class="col-lg-4">
						<!-- BEGIN card -->
						<div class="card shadow border-0 mb-5">
							<div class="card-body p-4">
								<div class="mb-3 w-50px h-50px rounded-3 bg-yellow text-black d-flex align-items-center justify-content-center position-relative">
									<i class="fa fa-check fs-28px"></i>
								</div>
								<h4>JSHint Valid</h4>
								<p class="fw-bold text-gray-600 mb-0">
									Aenean interdum eros ligula, vitae ornare tortor sagittis in.
								</p>
								<a href="#" class="stretched-link"></a>
							</div>
						</div>
					</div>
					<!-- END col-4 -->
				</div>
				<!-- END row -->
			</div>
			<!-- END container -->
		</div>
		<!-- END section -->
		
		<!-- BEGIN theme-panel -->
	<div class="theme-panel">
		<a href="javascript:;" data-toggle="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
		<div class="theme-panel-content">
			<div class="theme-list clearfix">
				<div class="theme-list-item"><a href="javascript:;" class="bg-red" data-theme-class="theme-red" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Red" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-pink" data-theme-class="theme-pink" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Pink" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-orange" data-theme-class="theme-orange" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Orange" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-yellow" data-theme-class="theme-yellow" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Yellow" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-lime" data-theme-class="theme-lime" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Lime" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-green" data-theme-class="theme-green" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Green" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-teal" data-theme-class="theme-teal" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Teal" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-cyan" data-theme-class="theme-cyan" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Aqua" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item active"><a href="javascript:;" class="bg-blue" data-theme-class="" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Default" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-purple" data-theme-class="theme-purple" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Purple" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-indigo" data-theme-class="theme-indigo" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Indigo" data-original-title="" title="">&nbsp;</a></div>
				<div class="theme-list-item"><a href="javascript:;" class="bg-gray-500" data-theme-class="theme-gray-500" data-toggle="theme-selector" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-container="body" data-bs-title="Gray" data-original-title="" title="">&nbsp;</a></div>
			</div>
			<hr class="mb-0" />
			<div class="row mt-10px pt-3px">
				<div class="col-9 control-label text-dark fw-bold">
					<div>Dark Mode <span class="badge bg-primary ms-1 position-relative py-4px px-6px" style="top: -1px">NEW</span></div>
					<div class="lh-14 fs-13px">
						<small class="text-dark opacity-50">
							Adjust the appearance to reduce glare and give your eyes a break.
						</small>
					</div>
				</div>
				<div class="col-3 d-flex">
					<div class="form-check form-switch ms-auto mb-0 mt-2px">
						<input type="checkbox" class="form-check-input" name="app-theme-dark-mode" id="appThemeDarkMode" value="1" />
						<label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END theme-panel -->
		
		<!-- BEGIN footer -->
		<div class="footer">
			<div class="container">
				<div class="row gx-5">
					<div class="col-lg-3 mb-4 mb-lg-0">
						<div class="footer-logo">
							<span class="footer-logo-text">ColorAdmin <small>CORPORATE</small></span>
						</div>
						<p class="footer-desc">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci felis. Phasellus id urna nunc. Nulla sed nibh at libero tincidunt scelerisque sed porttitor lectus.
						</p>
						<h4 class="footer-title">Follow Us</h4>
						<div class="footer-media-list">
							<a href="#" class="me-1"><i class="fab fa-lg fa-facebook fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-instagram fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-twitter fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-youtube fa-fw"></i></a>
							<a href="#" class="me-2"><i class="fab fa-lg fa-linkedin fa-fw"></i></a>
						</div>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Company</h4>
						<ul class="footer-link-list">
							<li><a href="#">Newsroom</a></li>
							<li><a href="#">Company Info</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">For Investors</a></li>
							<li><a href="#">Brand Resources</a></li>
						</ul>
						<hr class="my-4 text-gray-600" />
						<h4 class="footer-title">Policies</h4>
						<ul class="footer-link-list">
							<li><a href="#">Community Standards</a></li>
							<li><a href="#">Data Policy</a></li>
							<li><a href="#">Cookie Policy</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Our Store</h4>
						<ul class="footer-link-list">
							<li><a href="#">Shop Online</a></li>
							<li><a href="#">Store App</a></li>
							<li><a href="#">Recycling Programme</a></li>
							<li><a href="#">Order Status</a></li>
							<li><a href="#">Shopping Help</a></li>
						</ul>
					</div>
					<div class="col-lg-3 mb-4 mb-lg-0">
						<h4 class="footer-title">Help Center</h4>
						<ul class="footer-link-list">
							<li><a href="#">Contact Form</a></li>
							<li><a href="#">Live Chat Support</a></li>
							<li><a href="#">Portal Help Center</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-start mb-3 mb-lg-0">
							<div class="footer-copyright-text">&copy; 2016 - 2023 Color Admin All Rights Reserved</div>
						</div>
						<div class="col-lg-6 text-center text-lg-end">
							<span class="dropdown me-4">
								<a href="#" class="footer-copyright-link dropdown-toggle" data-bs-toggle="dropdown">United States (English)</a>
								<ul class="dropdown-menu">
									<li><a href="#" class="dropdown-item">United States (English)</a></li>
									<li><a href="#" class="dropdown-item">China (简体中文)</a></li>
									<li><a href="#" class="dropdown-item">Brazil (Português)</a></li>
									<li><a href="#" class="dropdown-item">Germany (Deutsch)</a></li>
									<li><a href="#" class="dropdown-item">France (Français)</a></li>
									<li><a href="#" class="dropdown-item">Japan (日本語)</a></li>
									<li><a href="#" class="dropdown-item">Korea (한국어)</a></li>
									<li><a href="#" class="dropdown-item">Latin America (Español)</a></li>
									<li><a href="#" class="dropdown-item">Spain (Español)</a></li>
								</ul>
							</span>
							<a href="#" class="footer-copyright-link">Sitemap</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END footer -->
	</div>
	<!-- end page container -->
	
<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/corporate/vendor.min.js"></script>
	<script src="../assets/js/corporate/app.min.js"></script>
	
</body>
</html>